.header {
	height: 70px;
	line-height: 70px;
	background-color: #333;
	color: white;
	font-size: 25px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-radius: 5px;
}
.sub-header {
	font-size: 18px;
	font-weight: 700;
	float: right;
	color: #999;
}
.sub-header input {
	display: none;
}
.sub-header {
	
}
.sub-header:hover {
	color: white;
	text-decoration: none;
}
.sub-header-container {
	max-width: 100px;
	min-width: 55px;
	margin-left: 20px;
	display: inline-block;
}
.nav-buttons {
	text-align: end;
}